.title{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 40px;
    margin-left: 16px;
    
    }
    .title.active{
      opacity: 0;
      ;
    }
    
    body.active{
      background-color: #D9D9D9BF;
    }


.dayName{
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
margin-left: 16px;
margin-top: 40px;
margin-bottom: 5px;
}

.dayNameDate{
font-family: Inter;
font-size: 10px;
font-weight: 400;
line-height: 12px;
letter-spacing: 0em;
margin-top: 4px;
color: #959595;
margin-left:18px;
}

